.blog {
    display: flex;
    margin-bottom: 60px;
}

.blog-img,
.blog-info {
    width: 50%;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-info {
    padding: 50px;
}

.blog-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.blog-preview {
    text-align: justify;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .blog {
        flex-direction: column;
    }

    .blog-img,
    .blog-info {
        width: 100%;
    }
}