/* Banner */
h1 {
    margin-bottom: 0 !important;
}

.search {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}

.search-box {
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
    line-height: 100%;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(255, 255, 255, 0.5)!important;
}

.search-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 20%;
}

.navbar-btn {
    padding-left: 20px;
    cursor: pointer;
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    display: none;
}

.mobile-toggle-btn {
    color: white;
}

.carousel-caption {
    top: 50%;
}

.navbar-brand {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 0.3em;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.31);
}
.navbar-brand span {
    padding: 0.496em 0.6em;
    display: inline-block;
    background: #fff;
    color: #2e2f2f;
}

.navbar-brand i {
    padding: 0.5em 0.5em 0.5em 0em;
    font-style: normal;
    display: inline-block;
}

.banner-title {
    font-family: "Montserrat", sans-serif;
    font-size: 7.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.banner-description {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* //Banner */

@media screen and (max-width: 1120px) {
    .mobile-menu {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .banner-title {
        font-size: 4.5rem;
    }
    .banner-description {
        font-size: 0.7rem;
    }
}